.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: flex-start;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: var(--section-gap);
  /* row-gap: 72px; */

  /* Responsive Styles */
  @apply md:grid-cols-8 sm:grid-cols-7;
}

.section:last-child {
  margin-bottom: 0;
}
