.toggle {
  display: flex;
  width: fit-content;
  padding: 4px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background-color: #e8e5ff;
}

.toggleItem {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: var(--oxford-blue);
  cursor: pointer;
}

.toggleItem.active {
  background-color: var(--oxford-blue);
  color: var(--white-100);
}
