.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.personalisation {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
